/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
  text-decoration: none;
  outline: none;
}

a:hover  {
  text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

// media
$breakpoints: (
  'sm-max': 767.9px,
  'md': 768px,
  'md-max': 1023.9px,
  'lg': 1024px,
  'lg-max': 1439.9px,
  'xl': 1440px
);

@mixin media($breakpoint) {
  $size: map-get($breakpoints, $breakpoint);
  @if $size {
    @if str-slice($breakpoint, -4) == '-max' {
      @media (max-width: $size) {
        @content;
      }
    } @else {
      @media (min-width: $size) {
        @content;
      }
    }
  } @else {
    @warn "Breakpoint #{$breakpoint} not found in $breakpoints map.";
  }
}

//color
:root {
  --main-light-color: #fff;
  --main-dark-color: #202020;
  --btn-text-dark-color: #202020;
  --grey-light-color: #F8F7F7;
  --grey-dark-color: #BDBDBD;

  --accent-color: #DDFF77;
  --accent-error-color: red;

  --modal-bac-color: rgba(216, 216, 216, 0.7);

  --border-radius-min: 20px;
  --border-radius-max: 100px;

  --transition: all .3s ease-in-out;

  @include media(md-max) {
    --border-radius-min: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-light-color: #202020;
    --main-dark-color: #ebebeb;
    --grey-light-color: #3b3b3b;
    --grey-dark-color: #7f7f7f;
    --accent-color: #DDFF77;
    --modal-bac-color: rgb(58, 58, 58, 0.8)
  }
}

// typography
.h {
  &--1 {
    font-size: 32px;

    @include media(md-max) {
      font-size: 22px;
    }
  }

  &--2 {
    font-size: 22px;

    @include media(md-max) {
      font-size: 18px;
    }
  }
}

.t {
  &--16 {
    font-size: 16px;
  }

  &--12 {
    font-size: 12px;
  }
}

.f {
  &--7 {
    font-weight: 700;
  }

  &--5 {
    font-weight: 600;
  }

  &--5 {
    font-weight: 500;
  }
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  color: var(--main-dark-color);
  background-color: var(--main-light-color);

  @include media(md-max) {
    font-size: 15px;
  }
}

svg {
  transition: var(--transition);
}

.container {
  width: 100%;
  padding: 20px;

  @include media(md-max) {
    padding: 16px;
  }
}